.space {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.small {
  font-size: 0.8rem;
}
.medium {
  font-size: 1rem;
}
.big {
  font-size: 1.5rem;
}

.row {
  flex-direction: row;
  align-items: center;
}
.column-left {
  flex-direction: column;
  align-items: flex-start;
}
.column-rigth {
  flex-direction: column;
  align-items: flex-end;
}
