.form {
  margin: 50px auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 15px;
  transition: all 0.3s linear;
}

.form.invalid {
  border-color: red;
}
.form.invalid > .name {
  border-color: red;
}

.form:hover {
  border: 1px solid rgb(121, 255, 255);
}
.form.invalid:hover {
  border: 1px solid rgb(255, 140, 165);
}
.form:hover > .name {
  border-bottom: 1px solid rgb(121, 255, 255);
}
.form.invalid:hover > .name {
  border-bottom: 1px solid rgb(255, 140, 165);
}

.name {
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 1px solid gray;
  transition: all 0.3s linear;
}

.main {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
