.app {
  min-height: 100vh;
  width: 100%;
}

.primary {
  background-color: rgb(37, 24, 34);
}

.base {
  background-color: #252931;
}

.utility {
  background-color: #17292d;
}

.light {
  background-color: rgb(134, 238, 238);
  color: rgb(0, 29, 24);
}
