.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px dotted rgba(255, 255, 255, 0.609);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s linear;
  animation: rotate 1s ease-in-out infinite;
}

.spinner:hover {
  border-color: rgb(121, 255, 255);
  background-color: rgba(121, 255, 255, 0.247);
  box-shadow: 0 0 20px rgba(121, 255, 255, 0.501);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
